body { /* Desabilitar a seleção de texto */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img { /* Desabilitar o arrasto de imagens */
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
     user-drag: none;
    touch-action: pan-x pan-y;
}